/* ############## Generellt ############## */

body{
    margin: 0px;
}

.containers{
    gap: 0px;
    height: 200vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: 
    "hd"
    "mn"
    "ft";
}

header{
    grid-area: hd;
    background-color: rgb(73, 116, 168);
    position: fixed;
    height: 100px;
    width: 100vw;
}

main{
    grid-area: mn;
}

footer{
    grid-area: ft;
    background-color: rgb(73, 116, 168);
}

/* ################### Översikt-knappen ################ */

nav{
    height: 28px;
    width: 28px;
}

.overview-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -5vh;
    transition: 0.3s;
}


.overview_button i.material-icons{
    font-size: 2.5rem;
}

.overview{
    height: 300px;
    width: 180px;
    background: rgb(157, 157, 157);
    position: fixed;
    top: 0;
    right: -180px;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 1;
}

.info{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 280px;
    padding: 10px;
}

.sites{
    background-color: rgb(99, 79, 79);
    width: 140px;
    height: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showoverview{
    right: 0vw;
}

.movebutton{
left: 0vw;
}

/* ############### index ############ */

#indexmain{
    background-color: ;
}

#indexA1{
    background-image: url();
}
#indexA2{
    background-image: url();
}
#indexA3{
    background-image: url();
}

/* ############### sida2 ############ */

/* ############### sida3 ############ */

/* ############### sida4 ############ */


/* ############### Mobil ############ */


/* ############### Dator ############ */


