/* ############## Generellt ############## */

body{
    margin: 0px;
    background-size: cover;
    background-image: url(../img/pawel-czerwinski-0TwOvuz2_tY-unsplash.jpg);
}

.containers{
    gap: 0px;
    height: 200vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: 
    "hd"
    "mn"
    "ft";
}

a{  
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
}

header{
    grid-area: hd;
    background-color: rgb(34, 34, 34);
    position: fixed;
    height: 100px;
    width: 100vw;
}

main{
    grid-area: mn;
    margin: 10px;
}

footer{
    grid-area: ft;
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "ftsn1 ftsn2"
    "ftsn1 ftsn3";

}

.ftsn1{
    grid-area: ftsn1;
    border-right-style: solid;
    border-width: 1px;
    border-color: white;
}
.ftsn2{
    grid-area: ftsn2;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
}
.ftsn3{
    grid-area: ftsn3;
}

.logo{
    background-image: url();
}

h1{
    color: rgb(203, 255, 202);
    font-size: 1.5rem;
    margin: 10px;
}

/* ################### Översikt-knappen ################ */

nav{
    height: 28px;
    width: 28px;
}

.overview-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -5vh;
    transition: 0.3s;
    color: white;
    margin-top: 10px;
}


.overview_button i.material-icons{
    font-size: 2.5rem;
}

.overview{
    height: 300px;
    width: 180px;
    background: rgb(101, 101, 101);
    position: fixed;
    top: 0;
    right: -180px;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 1;
}

.info{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    height: 280px;
    padding: 10px;
}

.sites{
    background-color: rgba(203, 255, 202, 0.599);
    width: 100px;
    height: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showoverview{
    right: 0vw;
}

.movebutton{
    left: 0vw;
}

/* ############### index ############ */

#indexmain{
    background-size: cover;
    background-image: url(../img/);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indexA1{
    height: 200px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/sean-do-EHLd2utEf68-unsplash.jpg);
    margin: 30px
}
#indexA2{
    height: 200px;
    width: 300px;
    background-size: contain;
    background-image: url(../img/florian-olivo-Mf23RF8xArY-unsplash.jpg);
    margin: 30px;
}
#indexA3{
    height: 450px;
    width: 400px;
    background-color: rgba(141, 141, 141, 0.934);
    margin: 30px;
}

/* ############### sida2/Teams ############ */

#s2main{
    display: grid;
    grid-template-rows: repeat(auto*2);
}

.teams{
    margin:auto;
    background-color: white;
    width: 300px;
    height: 420px;

}

#valorant{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.players{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: black;
}

#player{
    background-image: url();
    background-size: contain;
}

#player{
    background-image: url();
    background-size: contain;
}

#player{
    background-image: url();
    background-size: contain;
}

#player{
    background-image: url();
    background-size: contain;
}

#player{
    background-image: url();
    background-size: contain;
}

#player{
    background-image: url();
    background-size: contain;
}



/* ############### sida3 ############ */

/* ############### sida4 ############ */


/* ############### Mobil ############ */


/* ############### Dator ############ */

@media screen and (min-width: 376px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }

    a{
        font-size: 2rem;
        text-decoration: none;
    }

    .containers{
        grid-template-rows: 150px auto 250px;
    }

    .info{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        height: 700px;
        padding: 10px;
    }

    .sites{
        background-color: rgb(99, 79, 79);
        width: 400px;
        height: 100px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #indexmain{
        margin: 30px;
        justify-content: left;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
    #indexA1{
        width: 900px;
        height: 500px;
        background-position-y: 80%;
        background-size: cover;
        border-color: rgba(20, 53, 21, 0.744);
        border-width: 3px;
        border-style: solid;
    }
    #indexA2{
        width: 600px;
        height: 400px;
        background-size: cover;
        border-color: rgba(20, 53, 21, 0.744);
        border-width: 3px;
        border-style: solid;
    }

    #indexA3{
        height: 400px;
        width: 600px;
        background-color: rgba(141, 141, 141, 0.934);
        border-color: rgba(20, 53, 21, 0.744);
        border-width: 3px;
        border-style: solid;
    }

    footer{
        grid-template-columns: 30% 70% ;

    }
    .overview{
        height: 1000px;
        width: 500px;
        background: rgb(48, 48, 48);
        right: -500px;

        box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.848);

    }
    .showoverview{
        right: 0px;
    }

}